.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input,
select,
option {
  border: 2px solid #ccc;
}

select,
option {
  text-align: center;
}

#clearButton,
#saveButton,
#retrieveButton {
  font-weight: 600;
  color: whitesmoke;
}

#myCanvas {
  border: 5px double #555555;
}

@media only screen and (max-width: 600px) {
  .container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
